:root {
    --pink: #F9CEEE;
    --beige: #F9F3EE;
    --soft-green: #CCF3EE;
    --hard-green: #97C4B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
    background-color: var(--soft-green);
    color: darkgrey;

}

.nav-links a {
    color: #0f0f0f;
    background-color: #F9F3EE;
    padding: 5px;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 1em;
}